* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --form-control-color: #00b8a3;
}

body {
  font-family: "IBM Plex Sans";
  background: #000000;
  scroll-behavior: smooth;
}

.office-video {
  width: 100%;
  height: 56vh;
  object-fit: cover;
}

.background-letter,
.mySVG {
  position: fixed;
  top: 0;
  right: 0;
}
.letter-background {
  width: 200px;
  height: 200px;
}

main {
  margin: 0 auto;
}

.presentation {
  width: 60%;
  color: white;
  margin: 0 auto;
}

.presentation-title {
  font-size: 1rem;
  height: 17vh;
  text-align: center;
  font-family: "IBM Plex Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 31px;
  letter-spacing: 0em;
}
.presentation-title::before {
  content: "";
  height: 30px;
  border: 1px solid #00b8a3;
  margin-right: 1rem;
  padding-bottom: 8rem;
}

.presentation-content {
  border-left: 1px solid #00b8a3;
  padding-left: 50px;
}

.presentation-text {
  width: 100%;
  margin: 0 auto;
  font-size: 2rem;
  line-height: 2.5rem;
  padding-bottom: 1rem;
}
.presentation-image {
  width: 100%;
}
.presentation-subtitle {
  font-size: 1rem;
  font-style: normal;
  font-weight: 300;
  line-height: 31px;
}

.questions {
  color: white;
  padding-top: 3rem;
  font-size: 1.5rem;
  width: 60%;
  margin: 0 auto;
}

.questions > h1 {
  width: 100%;
  margin: 0 auto;
}
.question_number {
  padding-top: 7.5rem;
  padding-right: 1.5rem;
  color: #00b8a3;
  font-size: 2.5rem;
}
.interview_questions {
  display: flex;
  /* border: 1px solid #00b8a3; */
  padding-top: 2rem;
  position: relative;
}
.image_question2 {
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
}
.image_question2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
}
form {
  display: grid;
  place-content: center;
  min-height: 40vh;
}
.container-form {
  display: flex;
  flex-direction: column;
}
.form-control {
  font-family: system-ui, sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  padding-top: 2rem;
  grid-template-columns: 2em auto;
  /* gap: 0.5em; */
  font-family: "IBM Plex Sans";
}

.form-control + .form-control {
  margin: 0;
}
.form-control:focus-within {
  color: var(--form-control-color);
}

input[type="radio"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

/* footer */

.refer {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  margin: 0 auto;
  padding-top: 2rem;
  font-family: "IBM Plex Sans";
}
.refer_content {
  padding-left: 2rem;
  border-left: 2px solid #078375;
}
.refer_content > ul {
  padding-top: 1rem;
  list-style: none;
}
.refer_content > ul > li {
  padding-top: 0.3rem;
}
.refer_content > ul > :nth-child(4) {
  padding-top: 1.2rem;
  padding-bottom: 1.4rem;
}
.refer_content > ul > :nth-child(5) > * {
  text-decoration: none;
  color: white;
  /* border-bottom: 2px solid #078375; */
}
.refer_content > ul > :nth-child(5) > * {
  text-decoration: none;
  color: white;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #078375;
}

.refer_content > ul > :nth-child(3) {
  font-style: italic;
}

.bottom-image {
  width: 100%;
  padding-top: 3rem;
}
footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 0.8rem;
}
footer > ul {
  color: white;
  width: 80%;
  display: flex;
  justify-content: space-between;
  font-size: 0.6rem;
  list-style: none;
}

/* .progressBar {
  position: fixed;
  top: 0;
  left: 0;
  height: 8px;
  background: linear-gradient(to right, #ff5f6d, #ffc371);
  width: 0%;
  z-index: 100;
  transition: width 0.2s ease-out;
} */
::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  background: rgb(255, 61, 94);
}

@media screen and (max-width: 768px) {
  .image img {
    width: 200px;
  }
}
